body {
  background-color: #263238;
  color: #fff;
}

div.alert {
  background-color: #C62828;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.8);
}

div.card {
  background-color: #455A64;
  margin: 1rem;
}

div.card > div.card-header {
  background-color: #37474F;
}

div.card > div.card-footer {
  text-align: right;
}